<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> A Document </title>
  </head>
  <body>
    <main>
      <h1> Galen sida, välkommen <%= session[:user] %> </h1>
      <a href="/"> Hem </a>
      <%= yield %>
    <% if session[:user] != nil %>
      <a href="/users/<%= session[:user_id] %>"> Din Profil </a>
    <% else %>
      <a href="/login"> Logga In </a>
      <a href="/register"> Registrera </a>
    <% end %>
    </main>
  </body>
</html>
