<form action="users/new" method="POST">
  <input type="text" name="username" placeholder="Enter Username">
  <input type="password" name="password" placeholder="Enter Password">
  <input type="password" name="password_confirm" placeholder="Confirm Password">
  <input type="submit" value="Registrera Anvandare"/>
</form>
