<form action="/admin/tasks/<%= task['id'] %>/update" method=post>
  <input type="text" name="name" placeholder="Enter Name">
  <select name="type">
    <option value=read>Read</option>
    <option value=write>Write</option>
  </select>
  <input type="number" name="speed" placeholder="Teckenhastighet">
  <input type="text" name="content" placeholder="Innehåll">
  <input type="submit" value="Updatera Uppgift"/>
</form>
