<h1> All tasks </h1>


<ol>
  <% tasks.each do |task| %>
    <li> 
      <a href="tasks/<%= task['id'] %>"> <%= task["name"] %> </a>
      <% if session[:admin] %>
        <a href="admin/tasks/<%= task['id'] %>/edit"> Uppdatera </a>
        <form action="/admin/tasks/<%= task['id'] %>/delete" method=post>
          <input type="submit" value="Radera" >
        </form>
      <% end %>
    </li>
  <% end %>
</ol>  

<a href="admin/tasks/new"> Skapa Ny Uppgift </a>
