<form action="new" method="POST">
  <input type="text" name="name" placeholder="Enter Name">
  <select name="type">
    <option value=read>Read</option>
    <option value=write>Write</option>
  </select>
  <input type="number" name="speed" placeholder="Teckenhastighet">
  <input type="text" name="content" placeholder="Innehåll">
  <input type="submit" value="Skapa Uppgift"/>
</form>
