<h1> All Users </h1>


<ol>
  <% users.each do |user| %>
    <li> 
      <a href="users/<%= user["id"] %>"> <%= user["username"] %> </a>
      <a href="users/<%= user['id'] %>/edit"> Uppdatera </a>
      <form action="/users/<%= user['id'] %>/delete" method=post>
        <input type="submit" value="Radera" >
      </form>
    </li>
  <% end %>
</ol>  
