form action="/albums/new" method="post"
  input type="text" name="title" placeholder="Namn på album"
  input type="text" name="artist_id" placeholder="id för artist"
  input type="submit" value="Skapa"
